<form [formGroup]="this.ordersService.form">
  <input placeholder="Order Number" formControlName="orderNumber" type="text" class="input-field col s12">
  <input placeholder="Customer Name" formControlName="customerName" type="text" class="input-field col s12">
  <button class="waves-effect waves-light btn col s12" (click)="onSubmit()">
    Submit
  </button>
</form>

<button *ngFor="let coffee of coffees" (click)="addCoffee(coffee)" class="waves-effect waves-light btn col s4">
  {{coffee}}
</button>

<ul class="collection">
    <li *ngFor="let coffee of coffeeOrder">
        <span class="col s11"> {{ coffee }} </span>
        <a class="col s1" (click)="removeCoffee(coffee)">X</a>
    </li>
</ul>