<div class="container">
  <div class="row">
      <app-orders class="col s6"></app-orders>
      <app-order-list class="col s6"></app-order-list>
  </div>
  <div class="row">
    <img-map #imgMap
      src="https://api.lincoln.sps-digital.com/storage/photos/intropage-lkwb5obyjvh8iq3a.jpeg"
      [markers]="markersPositions"
      [titles]="markersTitles"
      [urls]="markersUrls"
      [isPercentage]=true
      [markerRadius]="10">
    </img-map>
  </div>
</div>

